.order-success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.alert {
  border: 1px solid green;
  padding: 5px 15px;
}

.alert-title {
}

.alert-desc {
}

.order-detail {
  width: 250px;
  margin-top: 20px;
}

.order-line {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: 500;
}

.back-button {
  margin-top: 30px;
}
